html,
body {
  height: 100%;
  line-height: 1.5;
}

.wrap {
  height: 100vh;
  display: flex;
}

@media screen and (max-width: 800px) {
  main {
    flex-direction: column;
  }
}

main {
  flex: 1;
  display: flex;
  /* @media (max-width: 800px) */
}

.left,
.right {
  overflow-y: scroll;
  /* padding: 2em; */
}

.left {
  flex: 1;
  background: #f7f7f7d8;
}

.right {
  flex: 2;
  background: #f0eeeed2;
}

h1 {
  margin-top: 0;
}

.content {
  height: 50vh;
}

.my-navbar {
  border-bottom: 1px solid #eee;
  padding: 1rem;
}

#left {
  float: left;
  width: 50%;
  background-color: white;
  max-height: 100%;
  overflow: auto;
}

#right {
  float: left;
  width: 50%;
  background-color: white;
  max-height: 100%;
  overflow: auto;
}

.note {
  padding: 2rem;
  cursor: pointer;
  transition: background 0.16s linear;
  color: rgba(0, 0, 0, 0.8);
}

.note-selected {
  background-color: papayawhip;
}

.note-hoverable:hover {
  background-color: #fcfcfc;
}

.note {
  position: relative;
  z-index: 1;
}

.note:before {
  content: "";
  position: absolute;
  left: 5%;
  bottom: 0;
  height: 1px;
  width: 90%;
  border-bottom: 1px solid #eee;
}

.note-name {
  font-weight: bold;
}

.note-date-preview {
  opacity: 0.8;
}

.note-date {
  text-align: center;
  opacity: 0.8;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.editor {
  box-sizing: border-box;
  width: 100%;

  height: 92vh;
  resize: none;
  padding: 15px;
  border: 0;
  background-color: transparent;
  outline: 0;
}

.title-editor {
  font-weight: bold;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  border: 0;
  background: transparent;
  outline: 0;
}

.my-navbar > button {
  font-size: 20px;
  margin: 0.1rem;
  border: 0;
  background-color: transparent;
  transition: all 0.16s;
}

.my-navbar > button:hover {
  color: rgba(255, 0, 0, 0.603);
  cursor: pointer;
  transform: rotate(360deg);
}

.my-navbar > button:focus {
  outline: 0;
}
